{% extends "base.html" %} {% block content %}
<img src="{{ url_for('static', filename='ss24.svg') }}" alt="Secret Santa" />

<form id="nameForm" action="javascript:void(0);" method="get" onsubmit="redirectToName()"></form>
  <div class="form-group">
    <label for="firstname">Please enter your firstname:</label>
    <input
      type="text"
      class="form-control"
      id="firstname"
      name="firstname"
      maxlength="16"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Continue</button>
</form>

<script>
  function redirectToName() {
    var firstname = document.getElementById('firstname').value;
    window.location.href = '/name/' + encodeURIComponent(firstname);
  }
</script>
{% endblock %}
