{% extends "base.html" %} {% block content %}
<img src="{{ url_for('static', filename='ss24.svg') }}" alt="Secret Santa" />
<h2>QR Codes [{% if active %}Active{% else %}Inactive{% endif %}]</h2>
<p>
  Here are the QR codes for each person in the Secret Santa {{config["year"]}}
  event.
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>QR Code</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people_dict %}
    <tr>
      <td>{{ person["name"] }}</td>
      <td>
        <img
          src="data:image/png;base64,{{ person['qr'] }}"
          alt="{{ person['name'] }}"
        />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
