{% extends "base.html" %} {% block content %}
<img src="{{ url_for('static', filename='ss.svg') }}" alt="Secret Santa" />
<h2>There is a maximum budget of <b>{{config["budget"]}}</b> to spend.</h2>
<h3>You have been selected...</h3>
<h2>
  <b id="recipient" style="display: none">{{chosen_recipient_capital}}</b>
</h2>
<button
  id="revealBtn"
  class="btn btn-outline-primary"
  onclick="revealRecipient()"
>
  TAP TO REVEAL
</button>

{% if reroll_limit != 0 %}
<div
  id="rerollSection"
  class="fade-in hidden"
  style="
    border: 1px solid #ccc;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
  "
>
  <h3><b>Reroll</b></h3>
  <p>
    You have <b>one chance</b> to reroll and be selected a new person to buy
    for. If you choose to reroll, you <b>cannot</b> go back. 
    <br/> <br/>
    You may get the same person again.
  </p>
  <button
    id="rerollBtn"
    class="btn btn-outline-danger"
    onclick="rerollRecipient()"
  >
    REROLL
  </button>
  <button
    id="keepBtn"
    class="btn btn-outline-success"
    disabled
    onclick="keepRecipient()"
  >
    KEEP
  </button>
  <div id="rerollStatus" class="text-danger hidden"></div>
</div>
{% endif %}

<div id="finalMessage" class="fade-in hidden">
  <h3 style="margin-top: 40px">Rules:</h3>
  <ol class="list-group list-group-flush text-left">
    {% for rule in config["rules"] %}
    <li class="list-group-item">{{rule}}</li>
    {% endfor %}
  </ol>
  <p style="margin-top: 30px">
    You may now close this page! It is recommended to screenshot this incase you
    forget.
  </p>
</div>

<script>
  let rerollUsed = false;

  function revealRecipient() {
    // Show the recipient name
    const recipient = document.getElementById("recipient");
    recipient.style.display = "inline";
    document.getElementById("rerollSection").classList.add("show");
    document.getElementById("rerollSection").classList.remove("hidden");
    document.getElementById("keepBtn").disabled = false; // Enable "Keep" button
    document.getElementById("revealBtn").remove();
  }

  async function rerollRecipient() {
    if (!rerollUsed) {
      try {
        rerollUsed = true;

        // Disable the "Keep" button
        document.getElementById("keepBtn").disabled = true;

        // Show loading state
        const status = document.getElementById("rerollStatus");
        status.innerText = "Rerolling...";
        status.classList.remove("hidden");

        // Make POST request to /reroll endpoint
        const response = await fetch("/reroll/{{ firstname }}", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
        });

        if (!response.ok) {
          errorSwal("Failed to reroll. Please try again later.");
          status.classList.add("hidden");
          rerollUsed = false;
          return;
        }

        const data = await response.json();

        if (data.error) {
          errorSwal(data.error);
          status.classList.add("hidden");
          rerollUsed = false;
          return;
        }

        // Update the recipient name
        document.getElementById("recipient").innerText = data.newName;

        // Clear loading state
        status.classList.add("hidden");

        // Disable the "Reroll" button
        document.getElementById("rerollBtn").disabled = true;

        keepRecipient();
      } catch (error) {
        // Show error message
        document.getElementById("rerollStatus").innerText = error.message;
      }
    }
  }

  function errorSwal(message) {
    swal({
      text: message,
      icon: "error",
      button: {
        text: "Close",
        closeModal: true,
      },
    });
  }

  function keepRecipient() {
    document.getElementById("rerollSection").remove();
    document.getElementById("finalMessage").classList.add("show");
    document.getElementById("finalMessage").classList.remove("hidden");
  }
</script>
{% endblock %}
